.container {
    margin: auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1.2em; /* Increase font size */
  }
  
  .searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .label {
    margin-right: 10px;
  }
  
  .input {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
  }
  
  .button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .results {
    text-align: left;
  }
  
  .fieldRow {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fieldLabel {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .fieldValue {
    flex-grow: 1;
    text-align: right;
  }
  
  .dropdown {
    width: 200px; /* Increase dropdown width */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }


  .transferSummary {
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 10px;
}

.confirmationButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button.confirm {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button.abort {
    background-color: #f44336; /* Red */
    color: white;
}

.validationMessages .error {
    color: red;
    font-size: 0.9em;
}

.displayOnly {
  background: linear-gradient(to left, #DBDBDB 0%, #DBDBDB 400px, transparent 100px);
}


.requireInput {
  background: linear-gradient(to left, #FFFFCC 0%, #FFFFCC 400px, transparent 100px);
}